* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-transform: capitalize;
}

body {
    background-color: #111;
    color: #ffff6f;
}

.unus {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    padding: 10px;
    font-family: "cairo";
}

.unus div {
    padding: 0 20px;
    background-color: #222;
    border-radius: 20px;
}

.container {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
}

.container .display {
    width: 80%;
    height: 500px;
    background-color: #444;
    border-radius: 10px;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container .display p {
    font-size: 200px;
    font-weight: bold;
}

.play input, button {
    display: block;
    width: 80%;
    margin: 10px auto;
    padding: 10px;
    border: none;
    background-color: #222;
    color: #ddd;
}

input:focus {
    outline: none;
}

#GO {
    font-weight: bold;
    background-color: #555;
    cursor: pointer;
    transition-duration: 0.5s;
}

#GO:hover {
    background-color: #ccc;
    color: #111;
}

@media screen and (max-width: 950px) {
    .duo img {
        width: 300px;
    }
}

@media screen and (max-width: 350px) {
    .duo img {
        width: 250px;
    }
    .container .display {
        height: 300px;
    }
    .container .display p {
        font-size: 100px;
    }
}